body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #546678;
    color: #dfdfdf;
  }
  
  .container {
    margin-top: 50px;
  }
  
  h1 {
    color: #ffffff;
  }
  
  .input-group {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .input-group input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #77818a;
    color: #fff;
  }
  
  .input-group button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #1d282e;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .input-group button:hover {
    background-color: #334651;
  }
  
  .message {
    margin-top: 20px;
    font-size: 18px;
  }
  